:root {
    --main-font-family: 'Instrument Sans', sans-serif;
    --primary-color: #214f6f;
    --secondary-color: #f4a623;
    --black: #000;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: all .5s ease-in;
    font-family: var(--main-font-family);
    ;
}

nav {
    font-family: var(--main-font-family);
    position: fixed;
    width: 100%;
    background-color: var(--white);
    z-index: 9875;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 154px;
    padding: 30px 46px;
}

.nav-link ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 48px;
}

.nav-link ul li a {
    color: var(--black);
    font-size: 16px;
}

.nav__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 154px;
}

.nav__active::after {
    content: '';
    display: block;
    height: 3px;
    width: 14px;
    left: 20%;
    position: relative;
    border-radius: 8px;
    background: var(--secondary-color);
    transition: all linear 0.2s;
}

.nav-cta-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;

}

.login {
    display: flex;
    width: 96px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: #232323;
    font-family: var(--main-font-family);
    font-size: 14px;
    cursor: pointer;
}

.signup {
    display: flex;
    width: 96px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    font-family: var(--main-font-family);
    font-size: 14px;
    cursor: pointer;
}

/* .nav-bar-toggle-open {
    display: none;
} */

.nav-link ul li a:hover {
    color: var(--secondary-color);
}

.login:hover {
    background-color: var(--white);
    border-radius: 4px;
    box-shadow: 4px 3px 32px 0px rgba(134, 187, 225, 0.239);
    border: none;
}

.signup:hover {
    background-color: var(--white);
    border-radius: 4px;
    box-shadow: 4px 3px 32px 0px rgba(33, 79, 111, 0.24);
    border: none;
    color: #232323;
}


.nav-toggle-btn {
    width: 32px;
    height: 25px;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    cursor: pointer;
    border: none;
    position: relative;
}

.nav-toggle-btn::after {
    position: absolute;
    content: '';
    inset: 0;
    margin: auto;

}

button span,
button::after {
    height: 3px;
    width: 100%;
    background: var(--primary-color);
    transition: width 300ms, background-color 300ms, transform 300ms;
}

.nav-toggle-btn:hover span {
    width: 80%;
}

button:hover::after {
    width: 30%;
}

button.active::after {
    width: 0;
}

button.active span {
    background-color: var(--secondary-color);
}

button.active span:nth-child(1) {
    width: 80%;
    transform: rotate(45deg) translateY(12px) translateX(4px);
}

button.active span:nth-child(2) {
    width: 80%;
    transform: rotate(-45deg) translateY(-12px) translateX(4px);
}


.ham {
    display: none;
}

.banner {
    font-family: var(--main-font-family);
    text-transform: capitalize;
    /* height: 100vh; */
    display: flex;
    gap: 32px;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    padding: 176px 84px 120px;
}

.banner-text {
    max-width: 645px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 24px;
}

.banner-title h1 {
    color: var(--black);
    font-size: 44px;
    font-weight: 700;
    line-height: normal;
    max-width: 645px;
}

.banner-title p {
    max-width: 442px;
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    line-height: 153.525%;
}

.banner-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 32px;
}

.get {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    padding: 12px 15px;
    border-radius: 4px;
    background: var(--primary-color);
    border: none;
    color: var(--white);
    font-family: var(--main-font-family);
    font-size: 16px;
    width: 196px;
    cursor: pointer;

}

.arrow {
    width: 0;

}

.get:hover {
    .arrow {
        width: 24px;
    }

    padding: 16px 12px;
}

.explore {
    padding: 12px 15px;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    font-family: var(--main-font-family);
    font-size: 16px;
    display: flex;
    /* padding: 14px 15px; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.explore:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}


.banner-cta-btn {
    display: flex;
    align-items: center;
    column-gap: 32px;
}


.path {
    color: var(--primary-color);
}

.str {
    color: var(--secondary-color);
}

.about {
    text-align: center;
    position: relative;
    padding: 0px 15px 160px;
}

.about-text {
    max-width: 483px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 24px;
}

.about-text h1 {
    font-size: 48px;
}

.about-text p {
    font-size: 20px;
    font-weight: 400;
    line-height: 177.525%;
}


.arrow-1 {
    width: 0;
}

.arrow-2 {
    width: 16px;
}

.about-us-cta-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
}


.learn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 14px;
    background-color: var(--primary-color);
    border-radius: 4px;
    border: none;
    color: var(--white);
    column-gap: 8px;
    font-family: var(--main-font-family);
    font-size: 16px;
    cursor: pointer;
}

.learn:hover {
    .arrow-1 {
        width: 24px;
    }

    .arrow-2 {
        width: 0px;
    }

    padding: 12px 20px;
}


.bg-el1 {
    position: absolute;
    right: 0%;
    top: 30%;
}

.features {
    padding: 0 84px 120px;
}

.features-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 4px;
}

.features-title h3 {
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.features-title p {
    line-height: 172.329%;
    font-size: 16px;
    font-weight: 400;
}



.text-mask {
    position: relative;
    display: inline-block;
}

.text-mask h1 {
    font-size: 48px;
    background: url('/asset/svgs/Vector\ 1.svg'), black;
    background-repeat: no-repeat;
    background-position: 56% 30px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: normal;
}



.feature-1-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 12px;
}

.feature-1-text h3 {
    font-size: 18px;
    font-weight: 700;
}

.feature-1-text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 151.025%;
    max-width: 438px;
}


.feature-1 {
    display: flex;
    padding: 24px 32px;
    align-items: flex-start;
    gap: 32px;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    background: var(--white);
}

.feature-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 42px 34px;
    padding-top: 70px;
}

.feature-1:hover {
    box-shadow: 8px 5px 0px 0px #214f6f;
    cursor: pointer;
}


















@media only screen and (max-width: 1200px) {

    .nav__menu {
        flex-direction: column;
        position: fixed;
        min-height: 200px;
        top: 0;
        right: -100%;
        background-color: #fff;
        box-shadow: 0px 1px 19px 0px #efcf0025, 0px 0px 48px 0px hsla(30, 78%, 91%, .6);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 28rem;
        height: 100vh;
    }

    nav {
        justify-content: space-between;
    }

    .nav__menu ul {
        flex-direction: column;
        row-gap: 48px;
    }

    .nav-cta-btn {
        flex-direction: column;
        width: 100%;
        row-gap: 16px;
        margin-top: 24px;
    }

    .nav-cta-btn a {
        width: 90%;
    }

    .login,
    .signup {
        width: 100%;
    }

    .nav-open {
        right: 0;
    }

    .ham {
        display: block;
    }

}

@media only screen and (max-width:1024px) {
    .banner {
        flex-wrap: wrap;
        text-align: center;
        padding-bottom: 80px;
        /* height: 70vh; */
    }

    .banner-title,
    .banner-text {
        align-items: center;
    }

    .banner-text h1,
    .about-text h1,
    .text-mask h1 {
        font-size: clamp(30px, 5vw, 40px);
        line-height: 1.4;
    }

    .about-text p {
        font-size: 16px;
    }

    .about {
        /* padding-top: 160px;
        margin-top: 80px; */
    }

    .bg-el1 {
        width: 20%;
        top: 60%;
    }


}

@media only screen and (max-width: 768px) {
    .bg-el1 {
        width: 20%;
    }

    .feature-container {
        grid-template-columns: 1fr;
    }
}


@media only screen and (max-width: 480px) {
    nav {
        padding: 25px 15px;
    }

    .banner {
        padding: 176px 15px 80px;
    }

    .banner-text p {
        line-height: 1.8;
    }

    .banner-cta-btn {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 16px;
    }

    .bg-el1 {
        top: 70%;
    }

    .learn {
        font-size: 14px;
        padding: 12px 20px;
    }

    .features {
        padding: 0px 20px 120px;
    }

    .feature-1-text h3 {
        font-size: 16px;
    }

    .feature-1-text p {
        font-size: 12px;
    }

    .feature-1 {
        padding: 10px 20px;
        gap: 12px;
    }

    .text-mask h1 {
        background-position: 56% 20px;
    }

    .feature-1 img {
        width: 24px;
    }
}